<h4 class="mt-3 ml-3">
  <span class="bg-secondary p-2">マイページ</span>
</h4>

<div class="container mx-2">
  <div class="row">
    <div class="col-4">
      <h4 class="font-weight-bold">登録情報</h4>
    </div>
    <div class="col-4">
      <%= link_to "編集する", customers_infomation_edit_path, data: {"turbolinks"=>false}, class: " mr-auto btn btn-success" %>
    </div>
  </div>


<table class="table-bordered w-100">
   <colgroup>
    <col style="width: 33%;">
    <col style="width: 67%;">
  </colgroup>
  <tr>
    <th class="bg-light p-1">氏名</th>
    <td class="p-2"><%= @customer.first_name %> <%= @customer.last_name %></td>
  </tr>
  <tr>
    <th class="bg-light p-1">カナ</th>
    <td class="p-2"><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
  </tr>
  <tr>
    <th class="bg-light p-1">郵便番号</th>
    <td class="p-2"><%= @customer.postal_code %></td>
  </tr>
  <tr>
    <th class="bg-light p-1">住所</th>
    <td class="p-2"><%= @customer.address %></td>
  </tr>
  <tr>
    <th class="bg-light p-1">電話番号</th>
    <td class="p-2"><%= @customer.telephone_number %></td>
  </tr>
  <tr>
    <th class="bg-light p-1">メールアドレス</th>
    <td class="p-2"><%= @customer.email %></td>
  </tr>
</table>


  <div class="row">
    <div class="col-4">
       <h4 class="font-weight-bold">配送先</h4>
    </div>
    <div class="col-4">
      <%= link_to "一覧を見る", root_path, class: "btn btn-primary" %>
    </div>
  </div>



  <div class="row">
    <div class="col-4">
       <h4 class="font-weight-bold">注文履歴</h4>
    </div>
    <div class="col-4">
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>