<div class="container">
  <div class="row">
    <div class="col-4">
      <h4 class="mt-3 ml-3">
        <span class="bg-secondary p-2">商品一覧</span>
      </h4>
    </div>

    <div class="col-4">
    </div>

    <div class="col-4">
      <font size="7">
        <%= link_to "+", new_admin_item_path, class: "ml-5 " %>
      </font>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <table cellpadding="15">
        <thead>
          <tr class="bg-secondary">
            <th class="header1">商品ID</th>
            <th class="header2">商品名</th>
            <th class="header3">税抜価格</th>
            <th class="header4">ジャンル</th>
          </tr>
        </thead>
        <tbody>
        <% @item.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.genre_name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @item %>
    </div>
  </div>
</div>