<h4>
  <span class="bg-secondary">管理者ログイン</span>
</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <table class="table table-hover table-borderd">
    <tr>
      <td><%= f.label :"メールアドレス" %></td>
      <td colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-100", :placeholder => "sample@example.com"  %></td>
    </tr>
    <tr>
      <td><%= f.label :"パスワード" %></td>
      <td colspan="2"><%= f.password_field :password, autocomplete: "current-password", class:"w-100" %></td>
    </tr>
  </table>

    <div class="actions">
      <%= f.submit "ログイン", class: "mx-auto d-block btn btn-primary" %>
    </div>
<% end %>

<%= render "admin/shared/links" %>
