<h4 class="mt-3 ml-3">
  <span class="bg-light p-2"><%= @customer.full_name %>さんの会員詳細</span>
</h4>

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <table cellpadding="5">
        <tr>
          <th class="pr-3">会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th class="pr-3">氏名</th>
          <td ><%= @customer.full_name %></td>
        </tr>
        <tr>
          <th class="pr-3">フリガナ</th>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <th class="pr-3">郵便番号</th>
          <td><%= @customer.postal_code %></td>
          </tr>
        <tr>
          <th class="pr-3">住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th class="pr-3">電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th class="pr-3">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th class="pr-3">会員ステータス</th>
          <td class="text-success">
            <% if @customer.is_deleted %>
            <b class="text-secondary">退会</b>
            <% else %>
            <b>有効</b>
            <% end %>
            </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6 mx-auto">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success mt-3 mr-5" %>
      <%= link_to "注文履歴一覧を見る", admin_customers_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>