<h4 class="mt-3 ml-3">
  <span class="bg-light p-2">配送先編集</span>
</h4>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table cellpadding="5">
      <%= form_with model: @shipping_address, url: shipping_address_index_path do |f| %>
        <tr>
          <th><%= f.label :"郵便番号（ハイフンなし）", autofocus: true %></th>
          <td><%= f.text_field :postal_code %></td>
          <td class="w-50"></td>
        </tr>
        <tr>
          <th><%= f.label :"住所" %></th>
          <td colspan="2"><%= f.text_field :address, class: "w-75", :placeholder => "東京都渋谷区代々木神園町0-0" %></td>
        </tr>
        <tr>
          <th><%= f.label :"宛名" %></th>
          <td><%= f.text_field :name %></td>
          <td></td>
          <td><%= f.submit :"変更内容を保存", class: "btn btn-success" %></td>
        </tr>
      </table>
    </div>
    <% end %>
  </div>
</div>
