<h4 class="mt-3 ml-3">
  <span class="bg-secondary p-2">注文履歴一覧</span>
</h4>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <th class="border border-dark bg-secondary">注文日</th>
          <th class="border border-dark bg-secondary">配送先</th>
          <th class="border border-dark bg-secondary">注文商品</th>
          <th class="border border-dark bg-secondary">支払金額</th>
          <th class="border border-dark bg-secondary">ステータス</th>
          <th class="border border-dark bg-secondary">注文詳細</th>
        </thead>
        <% @orders.each do |order| %>
        <tbody>
          <td class="border border-dark"><%= order.created_at.strftime("%Y/%m/%d") %></td>
          <td class="border border-dark">
            〒<%= order.postal_code %><br>
            <%= order.address %><br>
            <%= order.name %>
          </td>
          <td class="border border-dark">
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %><br>
            <% end %>
          </td>
          <td class="border border-dark"><%= order.amount_billed %>円</td>
          <td class="border border-dark"><%= order.status %></td>
          <td class="border border-dark"><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <%= paginate @orders %>
</div>