<div class="starrate">
<%# 平均点を算出し、round関数で切り上げ %>
<%= @all_stars %>：<%= @item_comments.average(:all_stars).to_f.round(1) %>
<%# 評価数を星に置き換える %>
<div class="average-comment-star" data-score=<%= @item_comments.average(:all_stars) %>></div>
<%# jquery発火イベントを記載%>
<script>

  $('.average-comment-star').raty({
    // readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'comment[all_stars]',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
<br>
</div>
