<div class="container mx-auto p-5">
  <div class="row">
    <div class="col-md-2">
      <table class="border border-dark">
        <tr class="border-bottom border-dark">
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <td>
          <% @genres.each do |genre| %>
            <%= link_to genre.genre_name, items_path(genre_id: genre.id) %><br>
          <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-6 mx-auto">
      <%= image_tag @item.get_image(300,300) %>
    </div>

    <div class="col-4">
      <div class="mt-3">
        <b><%= @item.name %></b><br>
      </div>
      <div class="mt-3">
        <%= @item.introduction %><br>
      </div>
      <div class="mt-3">
        <b>¥<%= @item.with_tax_price %></b>
        <small>(税込)</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3 ml-auto">
      <%= form_with model: @cart_item do |f| %>
        <p>数量を選択してください。</p>
        <%= f.select :amount, *[1..10] %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit :"カートに入れる", class: "mx-auto d-block btn btn-success mt-3" %>
      <% end %>
    </div>
    <div class="col-3 px-0">
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 text-center">
      <div>
        <p>コメント件数：<%= @item.comments.count %></p>
        <div>
          <%= form_with model: @comment, url: item_comments_path(@item.id) do |f| %>
          <%= render partial: "public/items/show_rate", locals: { item: @item } %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力" %>
            <%= f.submit "送信" %>
          <% end %>
        </div>
        <%# @item.comments.each do |comment| %>
          <%#= comment.customer.first_name %><%#= comment.customer.last_name %>
          <%#= comment.created_at.strftime('%Y/%m/%d') %><%#= comment.comment %>
        <%# end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered mx-auto mt-5">
        <thead class="bg-light border">
          <tr>
            <th scope="col">氏名</th>
            <th scope="col">投稿日時</th>
            <th scope="col">コメント</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @item.comments.each do |comment| %>
        <tbody>
          <tr>
            <td><%= comment.customer.full_name %></td>
            <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= comment.comment %></td>
            <td>
              <% if current_customer.id == comment.customer_id %>
                <%= link_to "削除する", item_comment_path(@item, comment.id) ,method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>





</div>